* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    color: #333;
    margin: 1rem 0;
    justify-content: center;
    display: flex;
}

.code {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h2 {
    font-size: 5rem;
    font-weight: 600;
    color: #333;
    margin: 1rem 0;
}

p {
    font-size: 3rem;
    font-weight: 400;
    color: #333;
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    display: flex;
    bottom: 0;
    justify-self: center;
    align-self: center;
    transition: all 350ms;
}

a:hover {
    transform: scale(0.8);
}