* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(55deg, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #6b1bff 100%);
    background-size: 400%;
    animation: bg-animation 25s infinite alternate;
}


form {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.button-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 15%;
    height: 5%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.219);
    border-bottom-right-radius: 1rem;
}


.submit-button {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: white;
    transition: 0.2s;
}

.submit-button:hover {
    transform: scale(1.2);
}

.form-element-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 100;
}

#element-div-styling {
    padding: 3em;
    pointer-events:painted; 
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

#element-div-styling:hover{
    transform: scale(1.6);
}

#checkbox {
    padding: 10px;
    pointer-events: all;
    margin: .5rem;
    cursor: pointer;
}


.text-space {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


label {
    pointer-events: none;
    font-size: 1.7rem;
    transition: 0.2s ease-in-out;
    width: 100%;
}

h1 {
    font-size: 7.5vh;
    color: white;
}

h1::before, h1::after {
    content: "";
    height: 0.2%;
    width: 37rem;
    position: absolute;
    display: flex;
    transform: scaleX(0);
    background-color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;

}

.text-styles{
    padding: 3rem;
    border: 0.2rem solid transparent;
    background-color: rgba(22, 22, 22, 0.419);
    border-radius: 1rem;
}

.text-styles:hover, h1:hover::before, h1:hover::after {
    transform: scaleX(1);
}

p {
    position: relative;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    color: white;
}
