*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

body {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(55deg, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #6b1bff 100%);
    background-size: 400%;
    animation: bg-animation 25s infinite alternate;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

h1 {
    margin-left: 7%;
    font-size: 500%;
    color: white
}

.tab-container {
    display: flex;
    width: 9vw;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(22, 22, 22, 0.419);
    border-end-end-radius: 5em;
}

nav {
    flex-direction: column;
    display: flex;
    height: 88vh;
    width: 100%;
    justify-content: space-evenly;
}

.subject, .home {
    transform: rotate(-90deg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
    transition: 0.3s;
    height: 100%;
    transition-timing-function: cubic-bezier(0.3,-0.01, 0.44, 0.95);
    overflow: wrap;
    width: 80%;
    margin-left: 10%;
}

.contentainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75vh;
    align-self: center;
    margin-top: 5%;
}

.contentainer::before {
    content: '';
    height: 75%;
    width: 0.3%;
    position: absolute;
    background-color: black;
}

.text-area {
    height: 100%;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.419);
    border-radius: 3rem;
}

h3 {
    position: relative;
    margin: 5%;
    font-size: 3rem;
    width: 50%;
    background-image: linear-gradient(55deg, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #6b1bff 100%);
    background-size: 800%;
    animation: bg-animation 25s infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-wrap: wrap;
}
ul {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 50%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 7%;
    padding: 10px;
    width: fit-content;  
}

#unit {
   width: 100%;
}

a:hover, a:active {
    color: black;
    background-color: white;
    border-radius: 1rem;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.3,-0.01, 0.44, 0.95);
}

.panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.active {
    transform: rotate(0);
    transform: scale(1.2);
}

.subject:hover, .home:hover, .subject:focus, .home:focus{
    transform: scale(1.2);
}

.subject:active, .home:active{
    transform: scaleY(2);
} 

.invisible  {
    display: none;
    transform: scale(0);
    visibility: hidden;
}

.input-csv {
    position: absolute;
    left: 56.5%;
    width: 30%;
    height: 60%;
    top: 26%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
    border: 0.2rem dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-stat{
    position: absolute;
    color: white;
    left:48%;
    top:13%;
    font-size: 1.4em;
    background-color:rgba(0, 0, 0, 0.419);
    padding: 0.15em;
    border-radius: 1rem;
    justify-content: center;
}

#file-input-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 60%;

}

#file-form-input {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s all;
    font-size: 1em;
}

#file-form-input:hover {
    color:rgba(22, 22, 22, 0.419)
}

